[Desktop Entry]
Type=Service
Version=2.9.1
Encoding=UTF-8
Icon=kgpg
Actions=OpenInFilemanager;
MimeType=inode/directory;
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked
X-KDE-Priority=TopLevel
X-KDE-Submenu=&Root Actions
X-KDE-Submenu[ca]=Accions de &root
X-KDE-Submenu[cs]=Root akce
X-KDE-Submenu[de]=Administ&rator-Aktionen
X-KDE-Submenu[el]=Ενέργειες Υπερχρήστη
X-KDE-Submenu[es]=Opciones de root
X-KDE-Submenu[fi]=P&ääkäyttäjän toiminnot
X-KDE-Submenu[fr]=Actions d'&administration
X-KDE-Submenu[gl]=Accións coma root
X-KDE-Submenu[hu]=Rendszergazdai műveletek
X-KDE-Submenu[it]=Azioni come Root
X-KDE-Submenu[lt]=&Root veiksmai
X-KDE-Submenu[nb]=Handlinger som &root
X-KDE-Submenu[nl]=&Root Acties
X-KDE-Submenu[nn]=Handlingar som &root
X-KDE-Submenu[pl]=Działania administratora
X-KDE-Submenu[pt]=Ac&ções Administrativas
X-KDE-Submenu[pt_BR]=A&ções Administrativas
X-KDE-Submenu[pt_PT]=Ac&ções Administrativas
X-KDE-Submenu[ru]=Действия root
X-KDE-Submenu[sl]=Administratorska &opravila
X-KDE-Submenu[sr]=Корене &акције
X-KDE-Submenu[sr@latin]=Korene &akcije
X-KDE-Submenu[sv]=Root åtgärder
X-KDE-Submenu[tr]=&Yetkili Eylemleri
X-KDE-Submenu[zh_CN]=Root操作
#X-KDE-Submenu[xx]=Your string 'xx' is the country abbreviation

[Desktop Action OpenInFilemanager]
Exec=rootactions-servicemenu.pl open_with defaultfm %U
Icon=system-file-manager
Name=Open in File Manager
Name[ca]=Obre en el gestor de fitxers
Name[cs]=Otevřít v souborovém manažeru
Name[de]=Im Dateimanager öffnen
Name[el]=Άνοιγμα στον Διαχειριστή Αρχείων
Name[es]=Abrir en gestor de archivos
Name[fi]=Avaa tiedostomanagerilla
Name[fr]=Ouvrir dans le gestionnaire de fichiers
Name[gl]=Abrir co xestor de ficheiros
Name[hu]=Megynyitás fájlkezelővel
Name[it]=Apri in File Manager
Name[lt]=Atverti failų tvarkytuve
Name[nb]=Åpne i filbehandler
Name[nl]=Openen in Bestandsbeheerder
Name[nn]=Opne i filhandsamar
Name[pl]=Otwórz w menedżerze plików
Name[pt]=Abrir no Gestor de Ficheiros
Name[pt_BR]=Abrir no Gerenciador de Arquivos
Name[pt_PT]=Abrir no Gestor de Ficheiros
Name[ru]=Открыть в файловом менеджере
Name[sl]=Odpri v upravitelju datotek
Name[sr]=Отвори у менаџеру фајлова
Name[sr@latin]=Otvori u menadžeru fajlova
Name[sv]=Öppna i filhanterare
Name[tr]=Dosya Yöneticisinde Aç
Name[zh_CN]=在文件管理器中打开
#Name[xx]=Your string 'xx' is the country abbreviation
